# Swift Package Manager build artifacts
.build/
.swiftpm/

# Xcode project/workspace settings
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
.idea/
.DS_Store

# Derived Data and Index
DerivedData/
index/

# User-specific Xcode settings
xcuserdata/
*.xcuserstate

# macOS and Linux system files
*.swp
*.swo
*.DS_Store
Thumbs.db
.bundle/

# Generated documentation
docs/
Example/dependencies.generated.swift